.custom-text {
    background: none;
    text-shadow: 1px;
    font-size: large;
    border-color: sandybrown;
}

.custom-input {
    border-radius: 0.5rem;
    background: none;
    border-color: sandybrown;
}

.progress-bar.indeterminate {
    position: relative;
    animation: progress-indeterminate 3s linear infinite;
}

.custom-button {
    border-radius: 30px;
    padding: 5px 20px;
}

.custom-navbar {
    font-family: 'Courier New', Courier, monospace;
    background: #202020;
    color: white;
    padding: 10px;
    box-shadow: 0 8px 6px -6px #444;
}

.please-do-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}